<div class="hero">
	<iframe width="100%" height="739px" src="https://www.youtube.com/embed/pB0mHOTM1FM?autoplay=1&loop=1" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen id="bg" loop="true"></iframe>
  <p class="large brandon">LOCALHOOPS IS COMING TO CENTRAL INDIANA </p>
  <p class="small brandon">LOCAL TRAINERS & COURTS BY THE HOUR</p>
</div>

<div class="form-wrap clearfix <%= "ended" if Rails.application.config.ended %>">
  <% if Rails.application.config.ended %>
    <%= render "users/campaign_ended" %>
  <% else %>
    <%= render "users/campaign_ongoing" %>
  <% end %>
</div>

