<div class="hero">
	<%= image_tag "landing_img.jpg" %>
  <!-- <p class="large brandon">LOCALHOOPS IS COMING TO CENTRAL INDIANA </p>
  <p class="small brandon">LOCAL TRAINERS & COURTS BY THE HOUR</p> -->
</div>

<div class="form-wrap clearfix <%= "ended" if Rails.application.config.ended %>">
  <% if Rails.application.config.ended %>
    <%= render "users/campaign_ended" %>
  <% else %>
    <%= render "users/campaign_ongoing" %>
  <% end %>
</div>

